@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Code+Pro:wght@300;400;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --font-1: 'Bebas Neue', sans-serif;
    --font-2: 'Source Code Pro', monospace;
}

header {
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 2rem;
}

header h2 {
    font-family: var(--font-1);
    letter-spacing: 2px;

    color: #02b0c7;
    ;
}

header h2:hover {
    color: #008FA2;
}


header nav {
    display: none;
    position: absolute;
    max-height: 100vh;
    top: 5.1rem;
    left: 0;
    height: max-content;
    width: 40vh;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    z-index: 1000;
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
}

header nav.active {
    display: block;
}

header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

header nav ul li {
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 100%;
    padding: .6rem 2rem;
    cursor: pointer;
    transition: 1s;
}

header nav ul li:hover {
    background-color: #434343;
    border-bottom: 1px solid #008FA2;
}

header nav ul a {
    font-family: var(--font-1);
    font-size: 1.260rem;
    color: #ccf9ff;
}

header .hamburger {
    width: 20px;
    height: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    cursor: pointer;
}

header .hamburger div {
    width: 16px;
    height: 2px;
    background-color: rgb(255, 255, 255);
}

#language-selector {
    /* background-color: blue; */
    color: #02b0c7;
    font-family: var(--font-1);
    position: absolute;
    left: 40%;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.1rem;
}

#language-selector #language {
    padding: .6rem 2rem;
    background-color: #02b0c7;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

#language-selector #language:hover {
    background-color: #008FA2;
}

#language-selector #language option {
    background-color: rgba(0, 0, 0, 0.384);
    border: none;
}

/* END HEADER */

.conteiner-main {
    background-image: url(./img/fondo-main.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;

}

.conteiner-main .background-black {
    background-color: #0000005e;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 8.8rem;
}


.conteiner-main .background-black .bi-chevron-down {
    color: rgb(255, 255, 255);
    font-size: 2.8rem;
    cursor: pointer;
    animation: moveXY 2s ease-in-out infinite;
}

.conteiner-main .background-black .bi-chevron-down:hover {
    color: #008FA2;

}

@keyframes moveXY {
    0% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.flex-redes {
    display: flex;
    justify-content: space-between;
    padding: 2.6rem 2rem;
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    height: max-content;
}

.flex-redes a {
    cursor: pointer;
    transition: 1s;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.flex-redes a:hover {
    transform: rotate(-4deg) scale(1.1);

}

.flex-redes a:first-child:hover {
    color: rgb(30, 114, 30);

}

.flex-redes a:nth-child(2):hover {
    color: rgb(95, 226, 95);
}

.flex-redes a:last-child:hover {
    color: rgb(226, 135, 17);
}

/* END MAIN PRESENTATION */

.conteinerAllContent {
    background: #485563;
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    background: linear-gradient(to right, #29323c, #485563);
    padding: 2rem 2rem;

}

.conteinerAllContent .biografia {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.conteinerAllContent .biografia h1 {
    font-family: var(--font-1);
    color: #008FA2;
    font-size: 2.4rem;
    letter-spacing: 2px;
}

.conteinerAllContent .biografia p {
    font-family: var(--font-2);
    color: rgb(206, 206, 206);
    padding-right: 40%;
    line-height: 1.6rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.conteinerAllContent .biografia .span-color {
    color: #008FA2;
    text-transform: uppercase;
    font-size: 1.2rem;
}

hr {
    border-color: #008FA2;
    width: 16%;
}


.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    /* padding: 2rem 2rem; */
    margin-top: 2rem;
}

.photos .gallery {
    /* min-width: 750px; */
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px;
    grid-template-rows: 250px 250px 250px 250px;

    /* grid-gap: 1rem; */
    gap: .680rem;
}

.photos .gallery .img-1 {
    background-color: #008FA2;
    background-image: url(img/img1.jpeg);
    background-size: cover;
    background-position: bottom;
    grid-column: 1/3;
}

.photos .gallery .img-2 {
    background-color: #198b15;
    grid-row: 2/4;
    background-image: url(img/WhatsApp\ Image\ 2024-01-21\ at\ 15.27.35\(3\).jpeg);
    background-size: cover;
    background-position: center;
}

.photos .gallery .img-3 {
    background-color: #d1d41d;
    grid-column: 3/4;
    grid-row: 1/3;
    background-image: url(img/WhatsApp\ Image\ 2024-01-21\ at\ 15.26.59.jpeg);
    background-size: cover;
    background-position: left;
}

.photos .gallery .img-4 {
    background-color: #ad4120;
    grid-column: 2/3;
    grid-row: 2/4;
    background-image: url(img/WhatsApp\ Image\ 2024-01-21\ at\ 15.27.00\(1\).jpeg);
    background-size: cover;
    background-position: center;
}

.photos .gallery .img-5 {
    background-color: #921dc0;
    grid-row: 1/3;
    background-image: url(img/fondo-main.jpeg);
    background-size: cover;
    background-position: center;
}

.photos .gallery .img-6 {
    background-color: #106e42;
    /* grid-column: 2/4; */
    background-image: url(img/WhatsApp\ Image\ 2024-01-21\ at\ 15.27.02.jpeg);
    background-size: cover;
    background-position: center;
}

.photos .gallery .img-7 {
    background-color: #106e42;
    grid-column: 3/5;
    grid-row: 3/5;
    background-image: url(img/WhatsApp\ Image\ 2024-01-21\ at\ 15.27.35.jpeg);
    background-size: cover;
    background-position: center;
}


.photos .gallery .img-8 {
    background-color: #106e42;
    background-image: url(img/WhatsApp\ Image\ 2024-01-21\ at\ 15.27.01\(1\).jpeg);
    background-size: cover;
    background-position: center;
}


.photos .gallery .img-9 {
    background-color: #106e42;
    background-image: url(img/WhatsApp\ Image\ 2024-01-21\ at\ 15.27.01.jpeg);
    background-size: cover;
    background-position: center;
}


.photos .gallery .img-10 {
    background-color: #106e42;
    background-image: url(img/WhatsApp\ Image\ 2024-01-21\ at\ 15.27.35\(1\).jpeg);
    background-size: cover;
    background-position: center;
}


.photos .gallery .img-11 {
    background-color: #106e42;
    background-image: url(img/WhatsApp\ Image\ 2024-01-21\ at\ 15.27.03.jpeg);
    background-size: cover;
    background-position: top;

}


.photos .gallery .img-12 {
    background-color: #106e42;
    background-image: url(img/WhatsApp\ Image\ 2024-01-21\ at\ 15.27.35\(2\).jpeg);
    background-size: cover;
    background-position: top;
}


/* MUSIC */

.container {
    background-color: #008FA2;
    border-radius: 20px;
    width: 600px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 4rem 4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.titul {
    font-family: var(--font-1);
    color: #02b0c7;
    text-align: center;
    margin-top: 4rem;
}

.hr-music {
    margin: 0 auto;
    margin-top: 1rem;
    color: #008FA2;
}

.container h1 {
    position: absolute;
    top: 4px;
    text-align: center;
    font-size: 16px;
    margin: 0;
    font-family: var(--font-1);
    letter-spacing: 2px;
}

.container .progress_container {
    position: absolute;
    bottom: 14px;
    width: 100%;
    max-width: 150px;
    height: 5px;
    background-color: #ccc;
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;
}

.container #progress {
    background-color: #02b0c7;
    width: 0;
    height: 100%;
}

.container #current_time {
    position: absolute;
    top: 40%;
    left: 10%;
}

.container .time-font {
    font-size: 1.6rem;
    font-family: var(--font-1);
}

.container #current_audio {
    position: absolute;
    top: 40%;
    right: 10%;
}

.container .buttons button {
    cursor: pointer;
    padding: 4px;
}






@media only screen and (max-width: 1000px) {
    header {
        padding: 1.6rem 1rem;
    }

    header nav {
        top: 5.020rem;
        width: 100%;
        background: #363c3d;
        height: max-content;
    }

    .conteinerAllContent {
        padding: 1rem 1rem;
    }

    .conteinerAllContent .biografia p {
        padding-right: 0%;
    }

    .conteinerAllContent .biografia hr {
        width: 68%;
    }

    #language-selector {
        left: 56%;
    }

    #language-selector #language {
        padding: .4rem 1rem;


        border-radius: 1rem;

        cursor: pointer;
    }

    #language-selector #language:hover {
        background-color: #008FA2;
    }

    #language-selector #language option {
        background-color: rgba(0, 0, 0, 0.384);
        border: none;
    }

    label {
        display: none;
    }

    .photos .gallery {
        min-width: 100%;

        grid-template-columns: 1fr;
        grid-template-rows: 250px 250px 250px 250px 250px 250px 250px 250px 250px 250px 250px 250px;

        gap: .680rem;
    }

    .photos .gallery .img-1 {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .photos .gallery .img-2 {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .photos .gallery .img-3 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .photos .gallery .img-4 {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .photos .gallery .img-5 {
        grid-column: 1/3;
        grid-row: 5/6;
    }

    .photos .gallery .img-6 {
        grid-column: 1/3;
        grid-row: 6/7;
    }

    .photos .gallery .img-7 {
        grid-column: 1/3;
        grid-row: 7/8;
    }


    .photos .gallery .img-8 {
        grid-column: 1/3;
        grid-row: 8/9;
    }

    .photos .gallery .img-9 {
        grid-column: 1/3;
        grid-row: 9/10;
    }

    .photos .gallery .img-10 {
        grid-column: 1/3;
        grid-row: 10/11;
    }

    .photos .gallery .img-11 {
        grid-column: 1/3;
        grid-row: 11/12;
    }

    .photos .gallery .img-12 {
        grid-column: 1/3;
        grid-row: 12/13;
    }


    /* MUSIC */

    .container {
        background-color: #008FA2;
        border-radius: 20px;
        width: 100%;

        margin-top: 2rem;

    }

}